%h3 Så här funkar det ...
%p Svenska Kryssarklubbens 24-timmarsseglingar går ut på att segla så långt som möjligt. Du ska tillbaka till start på 24 timmar. Om du kommer för sent får du distansavdrag.
%p Du väljer själv väg bland en stor mängd punkter och sträckor. Punkter får rundas max två gånger och sträckor seglas max två gånger.
%p Varje sträcka har en uppmätt distans som du får räkna, oavsett vilken väg du seglar.
%p Tips! De flesta båtar är effektivast på halvvind. Kryss ger en låg fart om du inte kan lägga krysslagen mellan rundningspunkter.
%p För att kunna jämföra olika båtars prestationer använder vi ett handikappsystem som i stort är SRS-tal.
%p I den här övningen seglar du en Scanmar 33:a. Den har SRS-tal 1,146. Du startar lördag klockan 12.00 och skall gå i mål 24 timmar senare på samma ställe som du startade ifrån.
%p Under torrseglingen är väderprognosen: "Stabila västliga vindar råder. Runt lunchtid passerar en front med svaga växlande vindar. Efter frontpassagen vrider vinden till sydost till syd sex till åtta under kvällen och vidare till sydväst åtta till tio under natten."
%p Seglingarna körs runt hela Sveriges kust, i Vänern och i Mälaren, första helgen i juni och första helgen i september.
%p
  Du känner igen deltagare på att deras båtar för en orange vimpel.
  %br
