.wrapper
  .content
    =image_tag 'sxk_logo_ligg2_gul.jpg', :width => '50%'
    %h1 Hej och välkommen!

    = render 'how_it_works'

    %h3= title 'Anmäl dig för att delta i torrseglingen'

    = render 'form'