- title "Alla punkter och sträckor"
.wrapper
  .map-wrapper
    #map
  .control-wrapper
    .control
      %p.exit
        .app-version= "Torrsegling version: #{Rails.configuration.version}"

= render 'map'