// Place all the styles related to the crews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.map-wrapper {
  width:  100%;
}

#map {
  width: 74%;
  float:left;
  height: 100%;
  height: 100vh;
}

#boat-data {
  float: right;
  width: 25%;
  height: 100%;
  height: 100vh;
  background-color: #F7F7F7;
  margin: 0;
  padding: 0;
}

#crew {
  background-color: yellow;
  margin: 0;
  padding: 0;
}

#targets {
  background-color: moccasin;
  margin: 0;
  padding: 0;
}
#log-book {
  overflow:auto;
  margin: 0;
  padding: 0;
  padding: 0;
}
/*
#map {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width:  100%;
  height: 100vh;
}

#boat-data {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  padding: 0 0.5em 0 0.5em;
  height: 100%;
  height: 100vh;
  border-radius: 2em;
  overflow:auto;
}

*/