// Place all the styles related to the crews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.map-wrapper {
  width:  100%;
}

#map {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width:  100%;
  height: 100vh;
}

#boat-data {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  padding: 0.5em;
}