@include h5bp-normalize;


$orange24: #ff8c00;
$light-orange24: lighten($orange24, 25%);
$instrument: lighten(#000000, 90%);

html, body {
  background-color: #fff;
  width: 100%;
}

p {
  line-height: 1.5em;
}
.wrapper {
  width: 100%;
  margin: 0 auto 0 auto;
}

.map-wrapper {
  width: 100%;
  max-width: 900px;
  height: 100vw;
  max-height: 75vh;
  position: absolute;
  left: 0px;
  top: 0px;
}

#map {
  width: 100%;
  height: 100%;
}

.control-wrapper {
  margin-top: 100vw;
  width: 100%;
  max-width: 500px;
}


@media screen and (min-width: 450px) {
  .map-wrapper {
    height: 450px;
  }
  .control-wrapper {
    margin-top: 450px;
  }
}


@media screen and (min-width: 900px) {
  .map-wrapper {
    width: 70%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }

.control-wrapper {
    width: 30%;
    max-width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
  }
}
.control {
  padding: 0.5em;
}

#crew {
  background-color: #ffff00;
}

#targets {
  background-color: #ffe4b5;
}

.logbook {
  background-color: #fff;
}

.logbook, .logbook tr, .logbook td, .logbook th {
  border: solid 1px black;
  border-collapse: collapse;
  font-size: 0.8rem;
}

.logbook {
  width: 100%;
  max-width: 35em;
  background-color: #eeeeee;
}
.logbook td, .logbook th {
  padding: 0.3em;
}

.instruments {
  padding-top: 0;
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 0px;
  z-index: 1;
  background: transparent;

  .instrument {
    /*float: right;*/
    display: inline-block;
    margin: 0 0 0 0.1em;
    padding: 0.1em 0.2em;
    /*width: 4em;*/
    background-color: $instrument;
    }
    .legend {
      text-align: center;
      font-size: 0.5rem;
    }
    .value {
      text-align: center;
      font-size: 0.8rem;
      font-weight: bold;
    }
    #wind-arrow {
      }
  }

@media screen and (min-width: 330px) {
  .instrument {
    .value {
      font-size: 0.9rem;
    }
    .legend {
      font-size: 0.6rem;
    }
  }
}

@media screen and (min-width: 380px) {
  .instrument {
    .value {
      font-size: 1.1rem;
    }
    .legend {
      font-size: 0.7rem;
    }
  }
}

@media screen and (min-width: 450px) {
  .instrument {
    .value {
      font-size: 1.4rem;
    }
  }
}


@media screen and (min-width: 500px) {
  .instrument {
    .value {
      font-size: 1.5rem;
    }
    .legend {
      font-size: 0.75rem;
    }
  }
}

@media screen and (min-width: 800px) {
  .instrument {
    .value {
      font-size: 2.5rem;
    }
    .legend {
      font-size: 0.9rem;
    }
  }
}

@media screen and (min-width: 1600px) {
  .instrument {
    .value {
      font-size: 3.5rem;
    }
    .legend {
      font-size: 1rem;
    }
  }
}

h1.sailing {
  margin-top: 0;
}

ol.where_to {
  @include no-bullets;
  padding: 0;
  margin: 0;
}

ol.where_to li, .finalize, .restart {
  margin: 0;
  background-color: $light-orange24;
  a {
    display: block;
    padding: 1em 0.5em 1em 0.5em;
    @include unstyled-link;
    cursor: pointer;
  }
}

ol.where_to li,{
  display: none;
}

ol.where_to li#instruction {
  display: block;
  padding: 1em 0.5em 1em 0.5em;
}

ol.where_to li:hover, .finalize:hover, .restart:hover {
  background-color: $orange24;
}


.defi {
  font-size: 80%;
  font-style: italic;
}

.app-version {
  margin: 1em 0;
  font-size: 0.5rem;
  color: #333333;
  text-align: right;
}

